body {
  background-color: yellow;
}

h1 {
  color: Red;
  text-align: center;
}

p {
  font-family: times new roman;
  font-size: 20px;
  color:black;
  text-align:center;

}
.classcontent{width:800px;
            margin:auto;
            border-style:solid;
}

